body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

button[type="submit"] {
    padding: 1em
}